# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 18df77f69c26e225cc9537f907baff1741f2acf3512cecc12016498491e62b51479d3ffbb86af2d4f40a20bbabbe9c3395f24088bebcd9163e6a69cf67d95951

test:
  secret_key_base: 4c2c76255e229d7de4efb2e7c8695a8c24ad7ea3cca2603ad3a4fc0ca65c69e1986debbff66ca9db95bf5f3091446b5f84bf49d3461e9feb0ca876625448b6e0

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
